<h1>Booking Details</h1>
<h2>Congratulations! You have successfully booked <%= @booking.goat.name %></h2>

<% @length = (@booking.end_date - @booking.start_date).to_i   %>

<h3>Your booking on <%= @booking.start_date %> is for <%= @length %> days</h3>
<h3>The total cost of your booking is € <%= @length * @booking.goat.price %></h3>
<h3> Your Booking Number is <%= @booking.id %></h3>
