<div class="container-h1">
  <h1>We found some nice freelance goats for you</h1>
</div>

<div class="container-cards">
  <% @goats.each do |goat| %>
    <%= link_to goat_path(goat) do %>
      <div class="card">
        <div class="card-img">
            <img src=<%= goat.image_url %> alt="Goat picture"/>
        </div>
        <div class="card-body">
          <h2><%= goat.name %></h2>
          <div class="container-goat-details">
            <div class="goat-info">
              <small><%= goat.gender %></small>
              <h3><%= goat.price %> €</h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</body>
</html>
