<div class="container-h1">
  <h1>We found some nice freelance goats for you</h1>
</div>

<%= form_tag goats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for you favourite goat type (party, cuddle, yoga, etc...)"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container-cards">
  <% @goats.each do |goat| %>
    <%= link_to goat_path(goat) do %>
      <div class="card">
        <div class="container-img-goat">
          <%= link_to goat_path(goat) do %>
            <%= cl_image_tag(goat.photo.key, :alt=>"Goat picture", :class=>"img-goat") %>
          <% end %>
        </div>
        <div class="container-goats">
          <div class="goat-card-header">
            <h5><%= goat.goattype %></h5>
            <h2><%= goat.name %></h2>
          </div>
          <div class="card-details">
            <h4><%= goat.city %></h4>
            <h3>€ <%= goat.price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
