<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Goats</title>
</head>
<body>
<div>
  <div container >
    <h1>We found some nice Freelance Goats for you!</h1>
  </div>
  <div class="container">
    <div class="card">

      <% @goats.each do |goat| %>
        <div class="card-header">
          <img src=<% goat.image_url %> alt="GOAT" />
        </div>
        <div class="card-body">
          <span class="tag tag-teal">Type: <%= goat.goattype %></span>
          <h4>
            Name: <%= goat.name %>
          </h4>
          <p>
            <%= goat.description %>
          </p>
          <div class="goat">
            <div class="goat-info">
              <h5><%= goat.price %> €</h5>
              <small>Gender: <%= goat.gender %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
