<div class="container-hero">
  <div class="hero-banner">
    <h1>Share your goat with the world!</h1>
  <div class="goat-form">
  <%= simple_form_for [@goat] do |f| %>
    <div class="third">
      <%= f.input :name%>
      <%= f.input :goattype, :label => "Goattype", :collection => %w[Party Cuddle Yoga Lawn-Mower Service-Goat Youdontwannaknow] %>
      <%= f.input :breed %>
    </div>
    <div class="third">
      <%= f.input :gender, :label => "Gender", :collection => %w[Female Male Nonbinary Genderfluid] %>
      <%= f.input :city %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: { multiple: false } %>
    </div>
    <div class="third">
      <%= f.input :description %>
    </div>
    <div class="third">
      <%= f.submit "Share the goat with the world!", class: "btn-book-goat", id: "new-goat"%>
    </div>
  <% end %>
  </div>
</div>
</div>
