<h1><%= @goat.name %></h1>

<div>
  <img src=<%=@goat.image_url%> alt="goat">
</div>

<div>
  <p><%= @goat.description %></p>
</div>

<div>
  <p>Type: <%= @goat.goattype %></p>
  <p>Breed: <%= @goat.breed %></p>
  <p>Gender: <%= @goat.gender %></p>
  <p>City: <%= @goat.city %></p>
</div>

<%= link_to "Book the goat", goat_path(@goat) %>
