<div class="container-title">
  <h1><%= @goat.name %></h1>
</div>

<div class="container-main">
  <div class="container-img">
    <img src=<%=@goat.image_url%> alt="goat">
  </div>

  <div class="container-details">
    <div class="container-specs">
      <p>Type: <%= @goat.goattype %></p>
      <p>Breed: <%= @goat.breed %></p>
      <p>Gender: <%= @goat.gender %></p>
      <p>City: <%= @goat.city %></p>
      <%= link_to "Book the goat", goat_path(@goat) %>
    </div>

    <div>
      <h2>Meet <%= @goat.name %></h2>
      <p><%= @goat.description %></p>
    </div>
  </div>

</div>
