<div class="container-img">
  <% if @goat.photo.attached? %>
    <%= cl_image_tag(@goat.photo.key) %>
  <% else %>
    <%= image_tag('placeholder-goat.jpg') %>
  <% end %>
</div>

<div class="main-container">
  <div class="container-details">
    <h1><%= @goat.name %></h1>
    <div class="goat-details-header">
      <h3><%= @goat.goattype %> • </h3>
      <h3><%= @goat.breed %> • </h3>
      <h3><%= @goat.gender %></h3>
    </div>
    <div class="goat-details-location">
      <%= image_tag('pin.png') %>
      <h2><%= @goat.city %></h2>
    </div>

    <div class="goat-details-description">
      <p><%= @goat.description %></p>
    </div>

    <div class="container-button">
      <% if current_user == @goat.user %>
        <button class="btn-book-goat">
          <%= link_to "Delete goat", goat_path(@goat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </button>
      <% end %>
    </div>
  </div>

  <% unless current_user == @goat.user %>
    <div class='container-booking'>
      <h3>Book this Goat</h3>
      <div class='booking-form'>
        <%= simple_form_for([@goat, @booking], data: {turbo: false}) do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true  %>
          <div class="form-wrapper">
            <h4>€<%= @goat.price %> <span id="per-day">per day</span></h4>
            <%= f.button :submit, class: "btn-book-goat" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
